@charset "utf-8";
/* ======================================================= */
/* リセットCSS -------------------------------------------- */
/* ======================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  }

body {
  margin: 0;
  line-height: 1.6;
  }

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  }

img {
  max-width: 100%;
  height: auto;
  display: block;
  }

a {
  text-decoration: none;
  color: inherit;
  }

button {
  cursor: pointer;
  font: inherit;
  }

/* ======================================================= */
/* ふれあい水族館 ----------------------------------------- */
/* ======================================================= */

/* =================================
   共通デザインルール
   本文：1rem
   使用カラー：#30A2B7,#99E6F4
  ================================== */

/* デスクトップ向けスタイル @media screen and (min-width: 1024px)*/

/* 全体適用 ----------------------------------------------- */
body {
  font-family: sans-serif;
  font-size: 1rem;
  color: #575757;
  background: #fff;
  }

.debug *,
.debug *::before,
.debug *::after {
  border: 1px solid #30A2B7;
  }

:focus-visible {
  outline: 2px solid #C9C9CB;
  outline-offset: 4px;
  } 

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  }

a {
  transition: color 0.3s ease;
   position: relative;
  }

.caption {
  padding-top: 30px;
	display: flex;
	align-items: center;
  }

.caption::after {
  content: "";
  flex-grow: 1;
  display: block;
  margin-left: .5em;
  border-top: 5px dotted #30A2B7;
  }

/* デスクトップ向けスタイル */
@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1200px;
    }
  }

/* ナビゲーション ------------------------------------------ */
.nav--fixed {
  padding: 30px 0;
  }

/* ハンバーガー */
.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background: rgba(13, 162, 183, 0.7);
  border: 3px solid #fff;
  border-radius: 10px;
  z-index: 1000;
  }

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  margin: 6px 0;
  transition: 0.3s;
  z-index: 1000;
  }

.hamburger.active span:nth-of-type(1), .hamburger.active span:nth-of-type(3) {
  width: 20px;
  }
.hamburger.active span:nth-of-type(1) {
  -webkit-transform: translate(31px,13px) rotate(45deg);
  transform: translate(15px,3px) rotate(45deg);
  }
.hamburger.active span:nth-of-type(3) {
  -webkit-transform: translate(31px,-13px) rotate(-45deg);
  transform: translate(15px,-3px) rotate(-45deg);
  }

  /* スマホ版メニュー */
.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  min-height: 100vh;
  background: rgba(13, 162, 183, 0.9);
  box-shadow: 0 0 5px rgba(84, 84, 84, 0.9);
  transition: 0.5s;
  z-index: 999;
  }

.menu ul {
  padding: 80px 0 0 30px;
  }

.menu ul li {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  line-height: 4rem;
  letter-spacing: 0.3rem;
  margin: 5px 0;
  }

.menu ul li:active {
  opacity: 0.7;
  }

.menu.active {
  right: 0;
  }

.menu ul li a:hover {
  color: #575757;
  }

.nav-list {
  display: none;
  }

/* デスクトップ向けスタイル */
@media screen and (min-width: 1024px) {
  .hamburger,.menu {
    display: none;
    }

  .nav--pc__header {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 100px;
    }

  .nav-list {
    display: flex;
    }

  .nav-list ul {
    display: flex;
    gap: 2vw;
    padding-top: 30px;
    }

  .nav-list li {
    position: relative;
    text-align: center;
    letter-spacing: 0.3rem;
    white-space: nowrap;
    }

  .nav-list li::before {
    content: url('images/nav_icon.png');
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    }
  
  .nav-list a {
    text-decoration: none;
    display: block;
    }

  .nav-list a:hover {
    color: #e8b4a7;
    }

  .nav-list a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #91a4b3;
    transition: width 0.3s ease, left 0.3s ease;
    }

  .nav-list a:hover::after {
    width: 100%;
    left: 0;
    }
  }
/* ======================================================= */
/* index ------------------------------------------------- */
/* ======================================================= */
/* セクション*ヒーロー ------------------------------------- */
#hero {
  position: relative; 
  }

h2 {    
  font-size: 2.5vw;
  position: absolute;
  z-index: 2;
  top: 75%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  }

/* デスクトップ向けスタイル */
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.8rem;
    }
  }

/* slider */
.slider {
  position:relative;
  padding-inline-start: 0;
  }

.slider img {
  width: 100%;
  object-fit: cover;
  }

/*　スライドショー　矢印の設定　*/
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 3;
  top: 50%;
  outline: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  }

.slick-prev {
  left: 3%;
  transform: translateY(-50%) rotate(-135deg);
  }

.slick-next {
  right:3%;
  transform: translateY(-50%) rotate(45deg);
  }

/*　スライドショー　ドットナビゲーション　*/
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  }

.slick-dots li {
  position: relative;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  margin: 0 4px; 
  width: 70px;
  }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
  margin-top: 30px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
  }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
  }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

.slick-dots li button:before {
  content:'';
  width: 50px;
  height: 5px;
  background: #fff;
  opacity: 1;
  }

.slick-dots li.slick-active button:before {
  background: #137a8d;
  }
  
/* デスクトップ向けスタイル */
@media (min-width: 1024px) {
  .slider {
    max-width: 1200px;
    margin: 0 auto;
    object-fit: cover;
    }

  .slick-prev {
    left: 5%;
    }

  .slick-next {
    right: 5%;
    }
  }

/* セクション*営業時間 ------------------------------------- */
#today__open {
  background: #30A2B7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  }

.today__time , .today__ticket {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  }

.today__ticket {
  display: block;
  padding: 5px 25px 5px 5px;
  position: relative;
  letter-spacing: 0.1rem;
  }

.today__ticket::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url('images/ticket_icon.png') no-repeat center / contain;
  }

.ticket-btn {
  display: inline-block;
  background: none;
  border: solid 2px #fff;
  border-radius: 5px;
  transition: .2s ease;
  }

.ticket-btn:hover {
  background: #fff;
  }

.ticket-btn:hover .today__ticket {
  color: #30A2B7;
  }

/* デスクトップ向けスタイル */
@media (min-width: 1024px) {
  .today__time , .today__ticket {
    font-size: 1.4rem;
    }
  }

/* セクション*お知らせ ------------------------------------- */
#topics {
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  }

h3 {
  text-align: center;
  color: #5b5b5b;
  font-weight: 600;
  margin: 20px 0;
  }
 
h3:before {
  content: url("images/topic_icon.png");
  margin-right:10px;
  position:relative;
  top:5px;
  left:0;
  }
  
h3:after {
  content: url("images/topic_icon.png");
  margin-left:10px;
  position:relative;
  top:5px;
  right:0;
  }
  
.topics__pu {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 20px;
  max-width: 100%;
  margin: 20px 0;
  place-content: center;
  place-items: center;
  }

.topics__item {
  width: auto;
  background: #fff;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border-radius: 0 0 30px 30px;
  padding: 10px;
  }

.topics__item p {
  text-align: center;
  margin: 20px 0;
  }

.topics__item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  }

.topics__item a {
	transition: 0.5s;
  }
 
.topics__item a:hover {
	opacity: 0.6;
  }

.topics--button {
  max-width: 200px;
  margin: 40px auto;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #fff;
  background: #137a8d;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 25px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  }

.topics--button:hover {
  background: #30a2b7;
  }

.topics--button:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
  }

.topics--button:hover:after {
  border-color: #fff;
  }

/* デスクトップ向けスタイル */
@media screen and (min-width: 1024px) {
  .topics__pu {
    grid-template-columns: repeat(3, 1fr);
    }

  .topics__item {
    height: 400px;
    }
  }

/* セクション*営業時間・料金 -------------------------------- */
#business_hours {
  background-color: #30A2B7;
  background-image: url(images/business_hours_image.png);
  background-repeat: no-repeat;
  background-position: right 15px bottom 15px;
  color: #fff;
  padding: 10px 0;
  margin: 50px auto;
  max-width: 700px;
  }

.business_hours--grid {
  display: grid;
  grid-template-areas: "time" "regular_price" "passport";
  place-content: center;
  gap: 2vw;
  }

.business_hours--grid h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 15px 0;
  letter-spacing: 0.3rem;
  }

.business_hours--grid table {
  line-height: 1.5rem;
  text-align: left;
  }

.business_hours--grid th,td {
  padding: 5px 0;
  border-bottom: dotted 2px #fff;
  letter-spacing: 0.3rem;
  } 

.close {
  font-weight: bold;
  margin: 10px 0;
  border-bottom: dotted 2px #fff;
  width: 210px;
  }

.cmt {
  font-size: 0.8rem;
  margin-top: 20px;
  letter-spacing: 0.1rem;
  }

.cmt::before {
  content: "※"
  }

.cmt--center {
  text-align: center;
  padding: 20px 0;
  }

/* デスクトップ向けスタイル */
@media screen and (min-width: 1024px) {
  #business_hours {
    max-width: 1200px;
    }

  .business_hours--grid {
    grid-template-columns: auto auto auto;
   
    }
  }
/* ======================================================= */
/* guide ------------------------------------------------- */
/* ======================================================= */
.guide {
  letter-spacing: 0.2rem;
  max-width: 1000px;
  margin: 0 auto;
  }

.guide_comment {
  text-align: center;
  color: #5b5b5b;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.3em;
  line-height: 2em;
  margin: 20px 0;
  }

.guide_comment span {
  color: #30a2b7;
  text-decoration-line: underline;
  }

.dot_line {
  border-bottom: 5px dotted #30A2B7;
  padding: 10px;
  max-width: 1000px;
  margin-bottom: 30px;
  }

/* gridエリア指定 */
.contact_corner_img {
  grid-area: contact_corner_img;
  }
.contact_corner {
  grid-area: contact_corner;
  }
.fish_corner_img {
  grid-area: fish_corner_img;
  }
.fish_corner {
  grid-area: fish_corner;
  }
.jellyfish_corner_img {
  grid-area: jellyfish_corner_img;
  }
.jellyfish_corner {
  grid-area: jellyfish_corner;
  }
.huge_aquarium_corner_img {
  grid-area: huge_aquarium_corner_img;
  }
.huge_aquarium_corner {
  grid-area: huge_aquarium_corner;
  }

.grid_guide {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  place-items: center;
  grid-template-areas:
    "contact_corner_img"
    "contact_corner"
    "fish_corner_img"
    "fish_corner"
    "jellyfish_corner_img"
    "jellyfish_corner"
    "huge_aquarium_corner_img"
    "huge_aquarium_corner";
  }

/* デスクトップ向けスタイル */
@media (min-width: 1024px) {
  .grid_guide img {
    max-width: 450px;
    }

  .grid_guide {
    grid-template-columns: 2fr;
    grid-template-areas:
        "contact_corner_img contact_corner"
        "fish_corner fish_corner_img"
        "jellyfish_corner_img jellyfish_corner"
        "huge_aquarium_corner huge_aquarium_corner_img";
    gap: 10px;
    }
  }

.guide dt {
  color: #30a2b7;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  background-image: url("images/list_icon.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 5px 0 0 30px;
  }

.guide dd {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  margin-left: 50px;
  }
   
.guide_button {
  margin: 40px 0 30px 50px;
  letter-spacing: 0.2em;
  }
  
.guide_button a {
  text-decoration: none;
  color: #fff;
  background: #30a2b7;
  border-radius: 50px;
  position: relative;
  justify-content: space-around;
  align-items: center;
  max-width: 180px;
  padding: 20px 30px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }
    
.guide_button a:hover {
  background: #137a8d;
  }
    
.guide_button a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
  }
/* ======================================================= */
/* ticket ------------------------------------------------ */
/* ======================================================= */
.ticket_guide {
  letter-spacing: 0.2rem;
  max-width: 1000px;
  margin: 0 auto;
  }

.ticket_img img {
  height: auto;
  }  

.ticket_price {
  margin: 20px;
  }

.ticket_caption {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: dotted 2px #137a8d;
  }

.ticket_guide span {
  color: #30a2b7;
  font-size: 1.2rem;
  font-weight: bold;
  }

.business_days , .ticket {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  place-items: center;
  }

/* デスクトップ向けスタイル */
@media (min-width: 1024px) {
  .ticket_img {
    max-width: 450px;
    }

  .business_days {
    grid-template-columns: 2fr;
    grid-template-areas:
      "open1 open2";
    gap: 10px;
    }

  .ticket {
    grid-template-columns: 2fr;
    grid-template-areas:
      "ticket1 ticket2";
    gap: 10px;
    }
  }

.ticket_guide table {
  line-height: 1.5em;
  width: 300px;
  text-align: center;
  }

.ticket_guide th,td {
  padding: 5px 0;
  } 

.close {
  text-align: center;
  }

.online_ticket p {
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  }

.online_ticket span {
  text-decoration: underline;
  }
  
.ticket_button {
  margin: 30px 0 20px 20px;
  }

.ticket_button a {
  text-decoration: none;
  color: #fff;
  background: #30a2b7;
  border-radius: 10px;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 15px 35px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }

.ticket_button a:hover {
  background: #137a8d;
  }

.ticket_button a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
  }
/* ======================================================= */
/* access ------------------------------------------------ */
/* ======================================================= */
.access_info {
  letter-spacing: 0.2rem;
  max-width: 1000px;
  margin: 0 auto;
  }

.img_center {
  margin:0 auto;
  }

.access {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  place-items: center;
  }

/* デスクトップ向けスタイル */
@media (min-width: 1024px) {
  .ticket_img {
    max-width: 450px;
    }

  .access {
    grid-template-columns: 2fr;
    grid-template-areas:
      "access_list access_img";
    gap: 10px;
    }
  }

.access ul {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 40px;
  }

.access li {
  padding-bottom: 20px;
  }

.access li:nth-child(2n+1) {
  color: #137a8d;
  text-decoration: underline solid #137a8d;
  list-style-image: url("images/map_icon.png");
  }

.access li:nth-child(2n) {
  color: #5b5b5b;
  padding-left: 20px;
  }
/* ======================================================= */
/* help -------------------------------------------------- */
/* ======================================================= */
.help {
  letter-spacing: 0.2rem;
  max-width: 1000px;
  margin: 0 auto;
  }

#q_a {
  text-align: center;
  }

#accordion {
  padding-top: 10px;
  }
  
/* アコーディオン */
.accordion_title {
  font-weight: bold;
  letter-spacing: 0.3em;
  display: flex;
  position: relative;
  max-width: 500px;
  padding: 20px 0;
  margin: 0 auto;
  border-bottom:1px solid #137a8d;
  }
  
.accordion_title::before {
  content: '';
  display: block;
  width: 24px;
  height: 3px;
  background-color: #137a8d;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: .5s;
  }
  
.accordion_title::after {
  content: '';
  display: block;
  width: 24px;
  height: 3px;
  background-color: #137a8d;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  }
  
.accordion_title.active::before {
  transform: translateY(-50%) rotate(0deg);
  }
  
.accordion_title:hover {
  cursor: pointer;
  }
  
.accordion_content {
  display: block;
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: .5s;
  background-color: #137a8d;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  }

.accordion_content p {
  color: #fff;
  padding-top: 20px;
  }

.accordion_content a {
  font-weight: bold;
  }
      
.accordion_content a:hover {
  color: #5b5b5b;
  cursor: pointer;
  }
  
.accordion_content.show {
  margin-bottom: 40px;
  }
/*　問い合わせフォーム　*/
#form {
  margin-bottom: 50px; 
  }

.Form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  }

.Form-Item {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  }

.Form-Item-Input,
.Form-Item-Textarea {
  margin: 20px auto 0;
  }

/* デスクトップ向けスタイル */
@media (min-width: 1024px) {
  .Form-Item {
    flex-direction: row;
    align-items: center;
    }
  
  .Form-Item-Input,
  .Form-Item-Textarea {
    margin: 0 0 0 40px;
    }
  }

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: #5b5b5b;
  font-weight: bold;
  margin: 0 auto;
  }

.Form-Item-Label2 {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: #5b5b5b;
  font-weight: bold;
  margin: 0 auto;
  padding-left: 60px;
  }

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
  }

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #137a8d;
  color: #fff;
  font-size: 14px;
  }

.Form-Item-Input {
  border: 1px solid #137a8d;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #fff;
  font-size: 18px;
  }

.Form-Item-Textarea {
  border: 1px solid #137a8d;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 100%;
  background: #fff;
  font-size: 18px;
  }

/* デスクトップ向けスタイル */
@media (min-width: 1024px) {  
  .Form-Item-Textarea {
    max-width: 410px;
    }
  }

.Form-Btn {
  border-radius: 20px;
  width: 140px;
  height: 60px;
  margin: auto;
  text-align: center;
  display: block;
  letter-spacing: 0.5em;
  background: #30a2b7;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border: none;
  outline: none;
  }
/* ======================================================= */
/* company ----------------------------------------------- */
/* ======================================================= */
.company_info {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  }

.company_info table {
  border-collapse: collapse;
  margin: auto;
  font-size: 1.2rem;
  }

.company_info th , .company_info td {
  padding: 5px 10px;
  border-bottom:1px dashed #137a8d;
  }

.company_info tr:last-child>* {
  border: none;
  }

.company_info th {
  color: #137a8d;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  }

.company_info td {
  color: #5b5b5b;
  vertical-align: middle;

  }
/* フッター ----------------------------------------------- */
footer {
  color: #fff;
  background: url("images/footer_back.png");
  background-repeat: repeat-x;
  padding-top: 40px;
  margin-top: 80px;
  }

.footer__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  }

.link__icon {
  display: flex;
  }

.footer__nav {
  position: relative;
  padding-left: 20px;
  }

.footer__nav li {
  gap: 3vw;
  letter-spacing: 0.3rem;
  }

.footer__nav a:hover {
  color: #30A2B7;
  }

.footer__nav li::before {
  content: url('images/footer_icon.png');
  width: 0;
  height: 0;
  position: relative;
  padding-right: 5px;
  }

.copyright {
  text-align: center;
  padding: 15px 0 5px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  }

/* デスクトップ向けスタイル */
@media (min-width: 1024px) {
  .footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    }
  
  address {
    white-space: nowrap;
    }
  
  .footer__nav {
    padding-left: 0;
    }

  .footer__nav li {
    white-space: nowrap;
    }
  }